body {
  margin: 0;
}

.app {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 5px;
}